---
:accounts:
  # List your rackspace accounts here, one entry per line
  # with the corresponding API keys
  myrackspaceaccount:  xxxAPIxxKEYxxFORxxTHExxACCOUNTxxx

# Put the contents of the ssh public key you use to connect
# to your cloud servers here. You will be able to SSH to any
# of your cloud servers as root, using the corresponding
# secret key.
:public_ssh_key: ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEApuhOOpv2u7X/JYLfhOv3T1aXqgGjJmM8cQy4wvtqMnH/q9s8soyLEpA+F13HlwOxsPibB/Ls7lgLU6ycOtuF+kyAMTH3L/ku1ETOAkVTL6zrANOo6FKbG7Nh3wondjtK+aJof0oVEy4CBZCM8ryR4oGHCDiA+wGCvmRmhWN4R3UIDWv+Jj5qD7HFQDcJHtvYl518YlTqT+QZekVHR3YUJd3Ad8G0b1EaEUOBDiWaQRt3bqvuqaKHL7am864ECcjcJ+EI8+F7F2vojaM8y20vpBSS0y4kAE78URUwP0VL4XQ/G6/I63sdn71Lx0oKVXAp3/JmkCFSqKQ8PCa/+uvJww== whatever
